@model IEnumerable<MyPersonalWebsite.Models.Seller>

@{
    ViewData["Title"] = "Sellers";
}

<h1>Sellers</h1>
<div class="row">
    @foreach (var item in Model) {
        <div class="col-md-4 fade-in">
            <div class="product-card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                </div>
            </div>
        </div>
    }
</div>
