@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to LocalMarket</h1>
    <p class="lead">Discover a wide range of products from trusted sellers.</p>
    <hr class="my-4">
    <p>Explore our collection and find what you're looking for.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Products" asp-action="Index" role="button">Shop Now</a>
</div>
